@import "../variables.scss";

.inner_banner {
  height: 700px;
  background: url("../../../public/images/slide_bg2.jpg");
  position: relative;
  background-size: cover;

  @media (max-width: 991px) {
    height: 300px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.8;
  }
  .inner_banner_text {
    h1 {
      position: absolute;
      bottom: 100px;
      color: #fff;
      font-size: 100px;
      text-transform: uppercase;
      font-family: $primaryFont;
      font-weight: 800;

      @media (max-width: 991px) {
        font-size: 29px;
        bottom: inherit;
        top: 50%;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
      }
    }
  }
}
.our_mission {
  padding: 70px 0;

  @media (max-width: 991px) {
    padding: 30px 0;
  }
  .flex_row {
    display: flex;
    align-items: center;
    gap: 50px;

    @media (max-width: 991px) {
      flex-wrap: wrap;
    }
    .mission_inner {
      width: 50%;
      @media (max-width: 991px) {
        width: 100%;
      }

      h2 {
        color: #2a1616;
        font-family: $primaryFont;
        font-weight: 700;
        font-style: normal;
        margin-bottom: 15px;
      }
      p {
        max-width: 100%;
        font-size: 16px;
      }
      .mission_quote {
        padding-left: 20px;
        position: relative;
        h3 {
          font-size: 16px;
          line-height: 25px;
          margin-top: 40px;
          font-style: italic;
        }
        svg {
          fill: $primaryColor;
          position: absolute;
          top: 6px;
          left: 0;
        }
      }

      .ow_profile {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-top: 30px;

        .ov_text {
          h4 {
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 5px;
          }
          p {
            font-size: 14px;
            margin-bottom: 0px;
          }
        }
      }
    }
    .mission_imgbl {
      width: 50%;
      @media (max-width: 991px) {
        width: 100%;
      }
      img {
        width: 100%;
        height: auto;
        height: 350px;
        object-fit: cover;
        border-radius: 2px;
      }
    }
  }

  &.rev_block {
    .mission_imgbl {
      @media (max-width: 991px) {
        order: 2;
      }
    }
    .ind_links {
      margin-top: 30px;
      display: flex;
      gap: 30px;

      @media (max-width: 991px) {
        flex-wrap: wrap;
        gap: 10px;
        row-gap: 5px;
        column-gap: 20px;
      }
      .sent_to {
        a {
          color: #000;
          font-size: 18px;
          text-decoration: none;
          font-weight: 600;

          &:hover {
            text-decoration: underline;
          }
        }
      }
      margin-bottom: 10px;
    }
    .cate_text {
      display: flex;

      @media (max-width: 991px) {
        flex-wrap: wrap;
        gap: 2px;
        row-gap: 5px;
        column-gap: 10px;
      }
      gap: 10px;
      p {
        font-size: 14px;
        font-weight: 600;

        @media (max-width: 991px) {
          margin-bottom: 0px;
        }
      }
    }
  }
}

.partners {
  padding: 60px 0 100px;
  text-align: center;

  @media (max-width: 991px) {
    padding-bottom: 60px;
  }

  .prtnr_inner {
    h2 {
      color: #2a1616;
      font-family: $primaryFont;
      font-weight: 700;
      font-style: normal;
      margin-bottom: 15px;
    }
    p {
      margin: auto;
    }
    .prtnr_logos {
      display: flex;
      gap: 13px;
      justify-content: center;
      margin-top: 30px;

      @media (max-width: 991px) {
        flex-wrap: wrap;
      }

      .single_logo {
        border: 1px solid #ddd;
        padding: 4px;
      }
      svg {
        transform: scale(0.8);
      }
    }
  }
}

.full_length_block {
  position: relative;
  .flex_row {
    display: flex;
    justify-content: space-around;

    @media (max-width: 991px) {
      flex-wrap: wrap;
    }

    .fulllg_img {
      width: 50%;

      @media (max-width: 991px) {
        width: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .fulllg_textbl {
      width: 50%;
      padding: 100px 80px;

      @media (max-width: 991px) {
        width: 100%;
        padding: 20px 20px;
      }
      h2 {
        color: #2a1616;
        font-family: $primaryFont;
        font-weight: 700;
        font-style: normal;
        margin-bottom: 15px;
      }
      h3 {
        font-size: 20px;
        margin-bottom: 4px;
        font-weight: 600;
        margin-top: 22px;
    }
      ul {
        padding: 0;
        margin: 0px;
        margin-top: 25px;
        li {
          list-style-position: inside;
          line-height: 30px;
          font-weight: 500;
          font-size: 15px;
        }
      }
      .boxed_layout {
        margin-top: 50px;

        @media (max-width: 991px) {
          margin-top: 20px;
        }
        display: flex;
        .single_box {
          margin-top: 0px;

          @media (max-width: 991px) {
            transform: scale(0.8);
          }

          h5 {
            margin-bottom: 0;
            font-weight: 800;
            font-size: 40px;
            margin-bottom: 5px;
            color: $primaryColor;
          }
          h4 {
            margin-bottom: 0;
            font-size: 16px;
            line-height: 1.5;
          }
        }
      }
    }
  }
  &.our_values {
    margin-top: 0px;
    .fulllg_textbl {
      @media (max-width: 991px) {
        order: 2;
      }
    }
  }
}

.why_us {
  padding: 30px 0 80px;
  h2 {
    color: #2a1616;
    text-align: center;
    font-family: $primaryFont;
    font-weight: 700;
    font-style: normal;
  }
  h4 {
    color: #2a1616;
    text-align: center;
    font-family: $primaryFont;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    margin-bottom: 40px;

    @media (max-width:767px){
      margin-bottom: 15px;
    }
  }
  p {
    font-size: 16px;
    line-height: 1.5;
    color: #2a1616;
    text-align: center;
    font-weight: 300;
    font-style: normal;
    max-width: 70%;
    margin: auto;
    margin-bottom: 30px;

    @media (max-width: 991px) {
      max-width: 100%;
    }
  }
  .flex_row {
    display: flex;
    max-width: 70%;
    margin: auto;
    justify-content: space-between;
    margin-top: 60px;

    @media (max-width: 991px) {
      max-width: 100%;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin: auto;
    }

    .flx_box {
      border-left: 1px solid #dedede;
      padding-left: 15px;

      @media (max-width: 991px) {
        width: 50%;
        border: 0;
      }
      @media (max-width: 575px) {
        width: 100%;
      }
      h2 {
        color: #2a1616;
        text-align: left;
        font-family: $primaryFont;
        font-weight: 700;
        font-style: normal;
        font-size: 15px;
        margin-bottom: 20px;
      }
      ul {
        padding-left: 0px;
        list-style: none;

        padding-bottom: 15px;

        li {
          font-size: 15px;
          line-height: 35px;
          padding-left: 40px;
          position: relative;

          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 11px;
            background-image: url("../../../public/images/tick.png");
            width: 18px;
            height: 15px;
            background-size: 18px;
          }
        }
      }
    }
  }
}

.our_process {
  position: relative;
  padding: 100px 0 200px;
  width: 100% !important;
  max-width: 100% !important;

  h4 {
    color: #2a1616;
    text-align: center;
    font-family: $primaryFont;
    font-weight: 700;
    font-style: normal;
    font-size: 8rem;
    margin-bottom: 10px;
    opacity: 0.7;
  }
  h5 {
    color: #2a1616;
    text-align: center;
    font-family: $primaryFont;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    margin-bottom: 80px;
  }
  .process_row {
    display: flex;
    gap: 80px;
    padding-left: 100px;
    position: relative;
    margin-left: 10px;

    &:before {
      position: absolute;
      content: "";
      background-color: #f2e2e3;
      width: 174%;
      height: 110px;
      left: 0;
      top: 50%;
      border-radius: 999px;
      transform: translateY(-50%);
    }

    .prc_box {
      position: relative;
      border: 10px solid #fff;
      background: #eef0ef;
      padding: 70px 27px;
      width: 440px;
      min-width: 400px;
      box-shadow: 1px 1px 20px #897070;

      .prc_icon {
        padding-left: 40px;
        margin-top: -11px;
        margin-bottom: 11px;
        h2 {
          font-size: 90px;
          color: #ecdcdc;
          position: absolute;
          top: 19px;
          left: 4px;
          font-family: Oswald;
          font-weight: 700;
        }

        img {
          width: 42px;
          height: auto;
        }
      }
      .prc_text {
        padding-left: 30px;
        padding-right: 15px;

        h3 {
          font-size: 32px;
          line-height: normal;
          color: #474645;
          margin: -3px 0 30px;
          padding-left: 0;
          position: relative;
          display: inline-block;
          margin-left: -12px;
          letter-spacing: -1px;
          font-weight: 500;

          &:before {
            content: "";
            position: absolute;
            bottom: -11px;
            right: 0;
            width: 45px;
            height: 3px;
            background: #b61b1b;
          }
        }
        p {
          font-size: 15px;
          line-height: 1.5;
          color: #2a1616;
          margin-left: -20px;
          margin-bottom: 0;
        }
      }
      &:before {
        position: absolute;
        left: -50px;
        background-image: url("../../../public/images/right_ani.png");
        width: 25px;
        content: "";
        height: 25px;
        background-repeat: no-repeat;
        top: 50%;
        transform: translateY(-50%);
      }
      &:first-child {
        &:before {
          background-image: url("../../../public/images/dot_bef.png");
        }
      }
      &:last-child {
        &:before {
          background-image: url("../../../public/images/dot_bef.png");
          left: inherit;
          right: -50px;
        }
      }
    }
  }
}

.contact_form {
  padding: 100px 0;

  @media (max-width: 991px) {
    padding: 60px 0;
  }

  .flex_row {
    display: flex;
    justify-content: space-between;

    @media (max-width: 991px) {
      flex-wrap: wrap;
    }

    .contact_bg {
      height: 100%;
      width: 300px;

      @media (max-width: 991px) {
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
      }

      h3 {
        font-size: 25px;
        margin-bottom: 30px;

        span {
          font-size: 51px;
          display: block;
          font-weight: bolder;
        }
      }
      .query_block {
        margin-bottom: 25px;
        h4 {
          font-size: 18px;
          margin-bottom: 0px;
        }
        a {
          text-decoration: none;
        }
      }
    }
    .form_block {
      width: calc(100% - 300px);
      @media (max-width: 991px) {
        width: 100%;
      }

      .forms_row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .form_gorup {
          width: calc(50% - 10px);
          margin-bottom: 22px;

          @media (max-width: 991px) {
            width: 100%;
          }

          input,
          textarea {
            width: 100%;
            height: 55px;
            padding-left: 15px;
            border: 1px solid #ddd;
            border-radius: 4px;

            &:focus {
            }
          }
          textarea {
            height: 160px;
            color: #747474;
            padding-top: 5px;
          }
          &.form_grp_full {
            width: 100%;
          }
          p {
            width: 100%;
            max-width: 100%;

            a {
              text-decoration: none;
            }
          }
        }
        .sub_attach {
          display: flex;
          justify-content: flex-end;
          width: 100%;
          button {
            width: 140px;
            height: 44px;
            border-radius: 30px;
            border: 0px;
            color: #000;
            background-color: $primaryColor;
            font-weight: 600;
          }
        }
      }
    }
  }
}
