@import "/src/app/variables.scss";

.footer {
  background-color: #f8f8f8;
  color: #6e6d71;
  margin-top: 40px;

  .flex_row {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    width: 95%;

    .abt_wid {
      h3 {
        font-weight: 700;
        margin-bottom: 12px;
      }
      p {
        margin-bottom: 0px;
      }
      button {
        // text-transform: uppercase;
        font-size: 0.675rem;
        align-self: center;
        background-image: none;
        text-align: center;
        font-weight: 700;
        border-style: solid;
        margin: 14px auto 0 0;
        padding: 13px 30px 13px 30px;
        border-radius: 8px;
        border-color: #212529;
        color: #212529;
        background: transparent;
        position: relative;
        font-size: 16px;

        &:after {
          content: "";
          left: 0;
          top: 0;
          height: 100%;
          width: 0;
          background: #212529;
          position: absolute;
          transition: 0.5s;
        }
        &:hover {
          span {
            position: relative;
            color: #fff;
            z-index: 999;
          }
          &:after {
            width: 100%;
          }
        }
      }
      .social_connect {
        margin-top: 45px;

        h4 {
          font-weight: 600;
        }
        ul {
          display: flex;
          padding: 0;
          margin: 0;
          li {
            list-style: none;
            margin-right: 12px;
            width: 40px;
            height: 40px;
            text-align: center;
            position: relative;

            &:hover{
              &:after{
                transform: scale(0);
              }
            }

            &:after{
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: #d7d7d7;
              border-radius: 50px;
              transition: 0.2s;
            }
            
            a {
              // color: #fff;
              transition: 0.2s;
              height: 40px;
              width: 40px;
              line-height: 35px;
              display: block;
              border-radius: 40px;

              svg {
                font-size: 16px;
                position: relative;
                z-index: 1;
                color: #a5a5a5;
                transition: 0.2s;
                
                &.fa-linkedin-in {
                  width: 0.875em;
                }       
              }
            }
          }
        }
      }
    }
    .top_nav{
      display: flex;
      justify-content: space-between;
      width: 30%;
    }
    .top_wid_menu{
      h3{
        font-weight: 600;
        margin-bottom: 15px;
      }
      ul{
        margin: 0;
        padding: 0;
        li{
          list-style: none;
          a{
            color: #6e6d71;
            text-decoration: none;
            line-height: 30px;
            font-size: 15px;
            transition: 0.2s;

            &:hover{
              color: #000;
            }
          }
        }
      }
    }
  }
  .ofc_address{
    background: #e7e7e7;
    padding: 40px;
    margin-top: 60px;
    margin-bottom: 50px;

    h3{
     font-size: 20px;
     font-weight: 600;
     margin-bottom: 20px;
    }
    .head_flg{
      h2{
        font-size: 22px;
        margin: 0;
        font-weight: 500;
        margin-bottom: 10px;

        img{
          margin-right: 5px;
          transform: translateY(-3px);
        }
      }
      p{
        font-size: 18px;
        margin-bottom: 0px;

        a{
          color: #323232;
        }
      }
    }
  }
  .footer_cpy{
    background: #e7e7e7;
    padding: 20px 0;
    
    .flex_row{
      justify-content: space-between;

      p{
        margin: 0;
        a{
          color: #323232;
          text-decoration: none;
        }
      }
    }
  }
}
